header {
  height: 80px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo a {
  font-size: 1rem;
  text-decoration: none;
}

.logo a:focus {
  outline: none;
}

.menu {
  list-style: none;
  display: flex;
}

.menu a {
  font: 400 1rem/1 Montserrat, sans-serif;
  text-decoration: none;
  padding: 0 0 0 3rem;
}

.menu a:focus {
  outline: none;
}